<div class="login-box row">
    <div class="col-md-4 col-sm-12 login-title">
      <h2 class="login-title" >Login</h2>
      <%= form_for(:session, url: login_path) do |f| %>
      <span class="username"><%= f.label :username %></span>
      <%= f.text_field :username %><br>
      <span class="password"><%= f.label :password %></span>
      <%= f.password_field :password %><br>
      <%= f.submit "Login", :class => "btn btn-custom"%>
      <% end %>
    </div>

    <div class="col-md-4 col-sm-12">
        <%= button_to "Login With Twitter", twitter_login_path, :class => "twitter-button", method: :get %>
    </div>

    <div class="col-md-4 col-sm-12">
      <%= button_to "Create Account", new_user_path, method: :get, :class => "twitter-button" %>
    </div>
</div>
