<h2>Login</h2>
<%= form_for(:session, url: login_path) do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.submit "Login" %>
<% end %>

<h2>Or</h2><%= link_to "Login with Twitter", twitter_login_path %><br>
<h2>Or</h2>
<h2><%= link_to "Create Account", new_user_path %></h2>
