<div class="container" id="cart-socks">
  <% @socks.each do |sock| %>
    <div class="row cart-sock">
    <%= image_tag sock.image_url.url(:thumb) %>
    <%= sock.name %>
    <%= sock.price %>
    <%= sock.foot %>
    <%= sock.category.title %>
    <%= sock.size.value %>
    <%= sock.style.name %>
    Quantity: <%= @cart.count_of(sock.id) %>
    <%= button_to "+", cart_sock_path(sock, direction: "plus"), method: :patch %>
    <%= button_to "-", cart_sock_path(sock, direction: "minus"), method: :patch %>
    <%= button_to "Remove", cart_sock_path(sock), method: :delete %>
    </div>
  <% end %>
  Total Items in Cart: <%= @cart.total %>
</div>

<div id="total-cart-price">
  <h4>Cart Total: <%= number_to_currency(@cart.total_price) %></h4>
</div>
<% if !current_user %>
  <%= button_to "Login or Create Account to Purchase Socks", login_path(previous_page: "cart" ), method: :get %>
<% else %>
  <%= button_to "Checkout", orders_path %>
  <% end %>
