<h2><%= @sock.name %></h2>
<%= image_tag @sock.image_url.url(:medium) %>
<%= @sock.price %>
<% if @sock.retired %>
  <%= "Item Retired" %>
<% else %>
  <%= button_to "Add to Cart", cart_socks_path(sock_id: @sock.id) %>
<% end %>
<%= button_to "View Cart", cart_path, method: :get %>
<%= button_to "Back to All Socks", socks_path, method: :get %>
