<h1 class="text-center"><%= @sock.name %></h1><br><br>
<div class="col-md-3 col-md-offset-4">
  <%= image_tag @sock.image_url.url(:medium) %>
</div>
<div class="col-md-3">
  <p class="price"><%= number_to_currency(@sock.price) %></p><br>
  <p>Foot: <%= @sock.foot %><br><br>
     Size: <%= @sock.size.value %><br><br>
     Style: <%= @sock.style.name %><br><br>
     Category: <%= @sock.category.title %><br><br></p>
</div>
<div class="quantity-button">
  <% present @sock do |sock_presenter| %>
    <%= sock_presenter.retired %>
  <% end %>
  <%= button_to "View Cart", cart_path, method: :get, class: "btn btn-custom btn-person" %>
  <%= button_to "Back to All Socks", socks_path, method: :get, class: "btn btn-custom btn-person" %>
</div>
