<%= form_tag orders_path do %>
  <article>
    <% if flash[:error].present? %>
      <div>
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span>Amount: $<%= @amount %></span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Fulfilling Your One-Sock Needs!"
          data-amount="<%= @amount * 100 %>"
          data-locale="auto"
          window.location.href = "/orders"></script>
<% end %>
